.messagePanel {
  border: solid 1px black;
  width: fit-content;
  height: fit-content;
}

.seat {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: solid 1px black;
}

.clearfix {
  clear: both;
}
.free {
  background-color: #96c131;
}
.tower {
  background-color: brown;
}
.initial {
  background-color: lightblue;
}
.blocked {
  background-color: grey;
}
