.loader {
  text-align: center;
}

.marginTop {
  margin-top: 15px;
}
.marginLeft {
  margin-left: 10px;
}
.inlineGrid {
  display: inline-flex;
}

.scrollList {
  height: 300px;
  overflow: auto;
  display: block;
}
.columnColor {
  background-color: #fff;
  font-size: 90%;
}
.headerColor {
  background-color: #343a40 !important;
  color: white;
  font-size: 80%;
}
.nonSelectableColor {
  background-color: lightyellow !important;
}
.paginationItem {
  padding: 6px 12px;
}

.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Buscar";
}
