.loader {
  text-align: center;
}

.marginTop {
  margin-top: 15px;
}
.inlineGrid {
  display: inline-flex;
}

.borderTabs {
  border: .2rem solid #ececec;
  border-radius: 8px;
  padding: 1rem;
}

.scrollList {
  height: 300px;
  overflow: auto;
  display: block;
}

.borderRight {
  border-right: 1px solid grey;
}

.marginAuto {
  margin: auto;
}
